<% provide(:title, 'Home') %>

<div class="center hero-unit">
<h1>欢迎光临</h1>

<h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</h2>
<%= link_to "马上注册", '#', class: "btn btn-large btn-primary"%>
</div>

